# 设置最新的淘宝镜像，加快安装依赖速度
registry = https://registry.npmmirror.com # https://registry.npmjs.org 官方镜像
# # 发包禁用 git 仓库的校验
# git-checks = false

# 强制检查 engines 字段中指定的版本要求，即强制使用指定的 Node.js 版本
engine-strict=true
# 是否自动安装 peerDependencies（对等依赖） 中的依赖
auto-install-peers=false
# 是否严格检查 peerDependencies 的版本要求
strict-peer-dependencies=false
# 允许将依赖项提升到顶层，即将依赖提升到根目录的 node_modules，避免重复安装
shamefully-hoist=true
